[safe]
	directory = /storage/emulated/0/Documents/quantum-finance-api-updated
	directory = /storage/emulated/0/Documents/qaoa-vs-classical_repo
	directory = /storage/emulated/0/Documents/qaoa-vs-classical_repo
	directory = /storage/emulated/0/Documents/qaoa-vs-classical
	directory = /storage/emulated/0/Documents/qaoa-vs-classical_repo
	directory = <<<incolla-qui-il-percorso-esatto>>>
	directory = /storage/emulated/0/Documents/qaoa-vs-classical
	directory = /storage/emulated/0/Documents/qaoa-vs-classical
	directory = /storage/emulated/0/Documents/qaoa-vs-classical
	directory = /storage/emulated/0/Documents/qaoa-vs-classical
	directory = /storage/emulated/0/Documents/qaoa-vs-classical
[user]
	name = massimofornara
	email = mfornara93@gmail.com
[Sade]
	directory = /storage/emulated/0/Documents/qaoa-vs-classical
